node_modules
npm-debug.log
.env
.env.local
.env.production
.git
.gitignore
*.md
*.MD
LICENSE
.vscode
.idea
Dockerfile*
docker-compose*
.dockerignore
Makefile
helm-charts
.nyc_output
coverage
.coverage
*.log
logs
*.pid
*.seed
*.pid.lock
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.env
.editorconfig
.idea
coverage*